<div class="header-container container">
  <header>
    <a href="{{ site.url }}" class="top-link" style="color:#515051; text-align:left">{{ site.name }}</a>
    <!-- <div style="float:right; margin:2em 0 0 0"> -->
      <!-- <ul class="nav" style="text-align:right"> -->
        <!-- Change the  URL here if working on an absolute domain -->
        <!-- <li><a href="#recent-projects">Recent Projects</a></li>
        <li><a href="#past-research">Past Research</a></li>
        <li><a href="{{ site.url }}/assets/RS_CV_web.pdf"> CV</a></li> -->
      <!-- </ul> -->
      <!-- </div> -->
  </header>
</div>
